body {
  align-items: center;
  height: 100vh;
  margin: auto 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
  background-image: linear-gradient(
    354deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(144, 177, 199, 1) 100%
  );
}

h1,
h2 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-left: 115px;
  font-weight: 20px;
}

p {
  font-size: 15px;
  text-align: left;
}

.icon-forecast {
  font-size: 3.75rem; /* 60px */
  align-items: center;
}

.webpage {
  max-width: 500px;
  margin: 0 auto;
  padding: 30px 60px;
  border-radius: 12px;
  background-color: whitesmoke;
  align-items: center;
  position: relative;
  top: 5px;
  left: 80px;
}

.center-container {
  text-align: center;
  padding-top: 50px;
  border: 1px solid #dadde1;
  padding: 15px;
  margin: 0 center;
  border-radius: 10px;
  max-width: 1000px;
  position: relative;
  top: 10px;
  left: 115px;
  color: aliceblue;
}

tr {
  font-size: 0.625rem; /* 10px */
  text-align: center;
}

.icon-sun {
  font-size: 3.4375rem; /* 55px */
  left: 150px;
}
.search-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  color: aliceblue;

  /* Add color to the button */
  .submit {
    background-color: rgb(89, 89, 154);
    color: black;
    padding: 8px 16px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
  }

  .submit:hover {
    background-color: #0056b3;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid #dadde1;
    padding: 15px;
    margin: 20px auto;
    border-radius: 10px;
    max-width: 600px;
    position: relative;
    top: -10px;
    left: 115px;
  }

  .top-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    display: flex;
    height: 100vh;
    border: 1px solid #dadde1;
    padding: 15px;
    margin: 20px auto;
    border-radius: 10px;
    max-width: 600px;
    position: relative;
    top: -30px;
    left: 115px;
  }

  .bottom-container {
    padding: 150px;
    align-items: center;
    border: 1px solid #dadde1;
    padding: 15px;
    margin: 20px auto;
    border-radius: 10px;
    max-width: 600px;
    position: relative;
  }
  #search-form {
    width: 100%; /* Make the form take up the full width */
    max-width: 400px; /* Set a maximum width for the form if needed */
  }

  #location-form {
    width: 100%; /* Make the input take up the full width */
    padding: 10px; /* Add some padding to the input field */
    margin-bottom: 10px; /* Add a little space between the input and buttons */
  }

  #current-location-button {
    width: 100%; /* Make the button take up the full width */
    padding: 15px; /* Add some padding to the button */
    margin-bottom: 10px; /* Add a little space between the button and the form */
    align-items: center;
  }
}
.form-control {
  text-align: center;
  padding-top: 50px;
  border: 1px solid #dadde1;
  padding: 15px;
  margin: 50px center;
  border-radius: 10px;
  max-width: 1000px;
  position: relative;
  top: 10px;
  left: 115px;
}
.sun-icon-top {
  display: block;
  margin: -60px auto;
  color: rgb(130, 166, 170, 0.7);
  position: relative;
  top: 69px;
  left: 23px;
  font-size: 96px;
}
